<!doctype html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="title">
    So... What is My Public IP Address ?
  </div>
  
  {{{body}}}

  {{> support}}
  {{> adsense}}
  {{> disclaimer}}
</body>

</html>
