<!doctype html>

<head>
  <title>{{title}}</title>
  <meta http-equiv="pragma" content="no-cache" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta name="description" content="My IP Address" />
  <meta name="keywords" content="public ip address ifconfig ipconfig myip" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="title">
    {{header}}
  </div>
  
  {{{body}}}

  {{> support}}
  {{> adsense}}
  {{> disclaimer}}
</body>

</html>
